.line-up__titulo {
    font-family: var(--fonte-secundaria);
    font-size: 64px;
    text-align: center;
    margin: 1em 0 2em 0;
    color: var(--branco-fonte);
}

.barra {
    display: none;
}

.div-data {
    margin: 2em 3em;
    text-align: center;

}

.data {
    color: var(--branco-fonte);
    background-color: var(--verde-escuro);
    font-size: 32px;
    padding: .5em 0;
    font-family: var(--fonte-principal);
    font-weight: 700;
}

.lista-banda {
    font-family: var(--fonte-principal);
    color: var(--branco-fonte);
    display: flex;
    justify-content: center;
    text-align: center;
    margin: .5em 0;
}

.lista1 {
    font-size: 48px;
    font-weight: 800;
    margin: 1em 0;
}

.lista2 {
    font-size: 40px;
    font-weight: 700;
    margin: 1em 0;
}

.lista3 {
    font-size: 32px;
    font-weight: 700;
    margin: 1em 0;
}

.lista4 {
    font-size: 32px;
    font-weight: 500;
    margin: 1em 0;
}

.img-line-up-final {
    border: none;
    background: url(../assets/guitara.svg);
mix-blend-mode: multiply;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
height: 338px;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
}

@media screen and (min-width:768px) {
    .div-data {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .barra {
        content: '';
        display: block;
        width: 20%;
        height: 2px;
        background-color: var(--verde-escuro);
    }

    .lista-banda {
        margin: .5em .5em;
    }

    .lista2, .lista3, .lista4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    
}
@media screen and (min-width:1440px) {
    .barra {
        width: 30%;
    }

}